In [1]:
#loading in diabites unscored
import pandas as pd
import sqlalchemy as db

In [2]:
# create connection with the database
con = db.create_engine('postgresql://abdo:abdo@localhost:5432/task3_db')
# Find out the tables in this DB
con.table_names()

['diabetes_unscored', 'diabetes_scored']

In [10]:
df = pd.read_csv('diabites_2.csv')
df.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
0,3,84,72,32,0,37.2,0.267,28
1,6,0,68,41,0,39.0,0.727,41
2,7,94,64,25,79,33.3,0.738,41
3,2,117,90,19,71,25.2,0.313,21
4,10,75,82,0,0,33.3,0.263,38

In [9]:
df.to_sql(name = 'diabetes_unscored',con=con,
                             schema = 'public', 
                             if_exists='append', index=False)