In [1]:
# postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}
import pandas as pd
import sqlalchemy as db
import psycopg2
import h5py
from keras.models import load_model
from keras.models import model_from_json

Using TensorFlow backend.

In [3]:
# create connection with the database
con = db.create_engine('postgresql://abdo:abdo@localhost:5432/task3_db')
# Find out the tables in this DB
con.table_names()

['diabetes_unscored', 'diabetes_scored']

In [20]:
query = """
select pregnancies , glucose , bloodpressure , skinthickness , insulin , bmi , diabetespedigreefunction , age
from public."diabetes_unscored"
Except
select pregnancies , glucose , bloodpressure , skinthickness , insulin , bmi , diabetespedigreefunction , age
from public."diabetes_scored" ;
"""
# Load the unscored table 
transform_diabetes_df = pd.read_sql(query, con)

In [23]:
transform_diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 8 columns):
pregnancies                 267 non-null int64
glucose                     267 non-null int64
bloodpressure               267 non-null int64
skinthickness               267 non-null int64
insulin                     267 non-null int64
bmi                         267 non-null float64
diabetespedigreefunction    267 non-null float64
age                         267 non-null int64
dtypes: float64(2), int64(6)
memory usage: 16.8 KB

In [24]:
#load model architucture
json_file = open('model.json', 'r')
model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(model_json)

# load model weights
loaded_model.load_weights("model.h5")

# make the prediction
predictions = loaded_model.predict(transform_diabetes_df)

#round predictions to 1 or 0
rounded = [int(round(x[0])) for x in predictions]
print(rounded)

[0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0]

In [25]:
transform_diabetes_df['outcome'] = rounded
transform_diabetes_df.head()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,1,99,58,10,0,25.4,0.551,21,0
1,1,147,94,41,0,49.3,0.358,27,1
2,4,118,70,0,0,44.5,0.904,26,1
3,0,121,66,30,165,34.3,0.203,33,0
4,1,116,70,28,0,27.4,0.204,21,0

In [26]:
transform_diabetes_df.to_sql(name = 'diabetes_scored',con=con,
                             schema = 'public', 
                             if_exists='append', index=False)